
fieldset{
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
label{
  font-weight: bold;
  font-size:;
  color: #8098a5;
}



}
.fiche p{
align-items: baseline;
margin:0px 0px 0px 15px;
box-sizing: border-box;
height: 80px;
line-height: 40px;
color:white;
font-weight: bolder;
text-decoration: underline;
}
